bin/
*.o
**/*.o
.depend*
chericat
chericat.1*
chericat.full
chericat.debug
*.out
*.db
*.sql
*.elf
*.core
*dump
.DS_Store
python/__pycache__
python/graph-output
python/.ipynb_checkpoints
jupyter_notebook/.DS_Store
jupyter_notebook/graph-output
jupyter_notebook/.ipynb_checkpoints
